#latest_news{
    padding: 50px 0;
    position: relative;
    background: rgba(0, 0, 0, 0) url("../images/slide_2.jpg") no-repeat scroll center center / cover;
}
#latest_news::after{
    background: #000 url(../images/icon/dots.png);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.news_content{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.news_heading{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.news_heading p{
    color: #ca3d26;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}
.news_heading div{
    justify-content: center;
    margin : 0 auto;
    height: 70px;
}
.news_slider{
    margin: 0 auto;
}
.news_slider .col-md-4{
    padding: 0;
}
.news_container{
    margin: 0 auto;
    width: 100%;
}
.news_1{
    text-align: center;
}
.news_details{
    background: #fff none repeat scroll 0 0;
    padding: 20px;
}
.news_details h3{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
}
.news_details h3 a{
    color: #000;
}
.news_data{

    letter-spacing: 1px;
}
.news_data a{
    color: #000;
}

#gallery{
    padding: 100px 0;
    position: relative;
    background: rgba(0, 0, 0, 0);
}
#gallery::after{
    background: rgba(0, 0, 0, 0) url(../images/icon/triangle.png) repeat scroll 0 0;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    top: -7px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    width: 100%;
    z-index: 9;
}
#gallery::before{
    background: rgba(0, 0, 0, 0) url(../images/icon/triangle.png) repeat scroll 0 0;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    bottom: -7px;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    width: 100%;
    z-index: 9;
}
.gallery_content{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.gallery_heading{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.gallery_heading p{
    text-align: center;
    color: #ca3d26;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}
.gallery_heading div{
    justify-content: center;
    margin : 0 auto;
    height: 70px;
}
/* @media screen and (max-width: 768px){
    .gallery_heading p{
        font-size: 50px;
    }
}
     */
